[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
redis = "*"
construct = "*"

[dev-packages]
types-requests = "*"
mypy = "*"
construct-typing = "*"

[requires]
python_version = "3.12"
